* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 920px;
  overflow: hidden;
  background: url(../img/WallpaperDog-11018341.jpg) center no-repeat;
  font-family: 'Mulish', sans-serif;
  color: white;
}
.card__form {
  margin: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  background: rgba(128, 128, 128, 0.514);
}
.card__color{
  margin-bottom: 10px;
  display: flex;
}
.color__text {
  font-size: 20px;
  margin-right: 10px;
}
.wrapper {
  position: relative;
  margin: 20px;
  background: rgba(128, 128, 128, 0.250);
  border-radius: 10px;
  width: 300px;
  height: 400px;
}
.cards__title {
  text-align: center;
  margin-top: 20px;
}
.card {
  position: absolute;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  padding: 30px 10px;
  box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0rem 1rem 1rem 0rem;
  cursor: grab;

  &__title {
    text-align: center;
    display: block;
  }
}
.btn {
  padding: 8px;
  border-radius: 8px;
  border: 1px rgba(0, 0, 0, 0.315) solid;
  cursor: pointer;
}
.btn__remove {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border: 1px rgba(0, 0, 0, 0.315) solid;
  border-radius: 100%;
  background: url(../icons/1647936414.svg) center center/cover no-repeat;
}
.btn__create {
  padding: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 20px;
  width: 150px;
  background-color: rgb(67, 65, 209);
  color: white;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 3px rgb(51, 48, 207);
}
.card_edit .card__title {
  display: none;
}
.card .card__textarea,
.card .card__save {
  display: none;
}
.card_edit .card__textarea,
.card_edit .card__save {
  display: block;
  padding: 8px 10px;
}
